.film_conteiner {
  display: flex;
  gap: 30px;
}

.go_back {
  width: 90px;
  text-align: center;
  background-color: antiquewhite;
  margin: 20px 0;
  padding: 10px 0;
}

.go_back:active {
  background-color: blue;
}

.link_back {
  text-decoration: none;
}
